@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;

  box-sizing: border-box;

  --main-color: #18A7B9;
  --primary-text: #313131;
  --secondary-text: #6B6B6B;
  --orange: #FE8432;
  --green: #42B918;
}

html, body{
  min-height: 100vh;

  font-family: 'Poppins';
}

.header-container{
  max-width: 1200px;
  padding: 20px 15px;
  margin: 50px auto 0px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
  font-size: 25px;
  font-weight: 600;
  letter-spacing: -1px;
  text-transform: uppercase;

  color: var(--main-color);
}

.menu{
  position: relative;
  z-index: 999;
}

.menu ul{
  list-style: none;

  color: var(--primary-text);

  display: flex;
}

.menu ul li{
  margin-left: 30px;

  font-size: 18px;
}

.menu ul li:first-child{
  font-weight: 600;
}

.hero{
  margin-bottom: 140px;
}

.hero-container{
  max-width: 1200px;
  padding-top: 100px;
  padding-left: 30px;
  margin: 0 auto;

  position: relative;

  background-image: url('/images/rounded-square-1.png'), url('/images/rounded-square-2.png');
  background-repeat: no-repeat;
  background-position: top 20px right 430px, bottom 190px right;
}

.hero-container::before{
  height: 100%;
  padding: 20em;
  content: "";
  position: absolute;
  right: -70px;
  top: -80px;

  background-image: url('/images/building01.png');
  background-repeat: no-repeat;
  background-size: 100%;
}

.hero-container h1{
  margin-bottom: 40px;

  font-size: 64px;
  line-height: 1.2;
  letter-spacing: -2px;
  color: var(--primary-text);
}

.hero-container h1 span{
  color: var(--main-color)
}

.hero-container p{
  margin-bottom: 40px;
  font-size: 18px;

  color: var(--secondary-text);
}

.hero-container .hero-cta{
  margin-bottom: 90px;
  position: relative;
  
  display: flex;
}

.hero-cta button, .cta-button{
  width: 214px;
  height: 64px;
  border: none;
  border-radius: 40px 5px 40px 5px;
  font-family: inherit;
  font-size: 17px;
  font-weight: 500;

  color: #FFF;
  background: var(--main-color);
  box-shadow: 
  0px 64.8148px 46.8519px rgba(24, 167, 185, 0.0759259),
  0px 38.5185px 25.4815px rgba(24, 167, 185, 0.0607407),
  0px 20px 13px rgba(24, 167, 185, 0.05),
  0px 8.14815px 6.51852px rgba(24, 167, 185, 0.0392593),
  0px 1.85185px 3.14815px rgba(24, 167, 185, 0.0240741);
}

.hero-cta button:first-child::before{
  content: '';
  padding: 20em;
  position: absolute;
  top: 0;
  left: -170px;
  z-index: -10;
  
  background-image: url('/images/line.png');
  background-repeat: no-repeat;
}

.hero-cta button:last-child{
  margin-left: 20px;
  border: 1px solid var(--main-color);

  color: var(--main-color);
  background: none;
  box-shadow: none;
}

.stats{
  margin-bottom: 140px;

  display: flex;
}

.stats-info{
  margin-right: 50px;

  position: relative;
}

.stats-info h2{
  font-size: 40px;
  font-weight: 500;

  color: var(--primary-text);
}

.stats-info h2::before{
  width: 40px;
  height: 20px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  transform: rotate(-45deg);
  content: "";

  position: absolute;
  top: 0px;
  left: -10px;
  z-index: -100;
}

.stats .stats-info:nth-child(1) h2::before{
  background: var(--orange);
}

.stats .stats-info:nth-child(2) h2::before{
  background: var(--main-color);
}

.stats .stats-info:nth-child(3) h2::before{
  background: var(--green);
}

.stats-info span{
  font-size: 20px;

  color: var(--secondary-text);
}

.logos{
  width: 100%;
  height: 180px;
  border-radius: 150px;

  background-color: #FAFAFA;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.company-info{
  margin-bottom: 140px;
}

.info-container{
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;

  background-image: url('/images/building02.png');
  background-repeat: no-repeat;
  background-position: left bottom;

  display: flex;
  justify-content: space-between;
}

.info-container .left-col{
  padding-top: 30px;
}

.info-container .left-col p{
  margin-bottom: 30px;

  font-size: 18px;
  color: var(--secondary-text);
}

.info-container .right-col{
  width: 520px;
}

.info-container .right-col h2{
  margin-bottom: 250px;
  font-size: 54px;
  font-weight: 500;
  line-height: 1.2;

  color: var(--primary-text);
}

.topic-info{
  margin-bottom: 120px;

  position: relative;

  display: flex;
  justify-content: space-between;
}

.right-col .topic-info:nth-child(4){
  margin-bottom: 80px;
}

.topic-info h1{
  margin-left: 30px;
  font-size: 72px;
  font-weight: 600;

  color: var(--primary-text);
}

.topic-info h1::before{
  content: "";
  width: 76px;
  height: 76px;
  border-radius: 5px 38px 5px 38px;

  position: absolute;
  left: 0px;
  bottom: 10px;
  z-index: -10;
}

.right-col .topic-info:nth-child(2) h1::before{
  background: var(--main-color);
}

.right-col .topic-info:nth-child(3) h1::before{
  background: var(--orange);
}

.right-col .topic-info:nth-child(4) h1::before{
  background: var(--green);
}

.topic-info p{
  width: 360px;
  margin-top: 50px;
  font-size: 18px;
  color: var(--secondary-text);
}

.heading{
  margin-bottom: 85px;
}

.heading h1{
  margin-bottom: 30px;
  font-size: 54px;
  font-weight: 600;
  text-align: center;

  color: var(--primary-text);
}

.heading p{
  font-size: 20px;
  text-align: center;

  color: var(--secondary-text);
}

.company-team{
  margin-bottom: 140px;
}

.team-container{
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.team-cards{
  margin-bottom: 80px;

  display: flex;
  justify-content: space-between;
}

.team-card{
  width: 360px;
  padding: 30px;
  border-radius: 5px;

  box-shadow: 0px 20px 50px rgba(198, 217, 225, 0.3);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-card .card-icons{
  width: 100%;
  margin-bottom: 20px;

  display: flex;
  justify-content: space-between;
}

.team-card img{
  margin-bottom: 25px;
}

.team-card h3{
  margin-bottom: 15px;
  font-size: 24px;
  font-weight: 500;

  color: var(--primary-text);
}

.team-card h3 + span{
  margin-bottom: 45px;
  font-size: 12px;
  font-weight: 500;

  color: var(--secondary-text);
}

.team-card h3 + span + span{
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 500;

  color: var(--secondary-text);
}

.team-card span:last-child{
  font-size: 17px;
  font-weight: 500;

  color: var(--main-color);
}

.team-nav{
  width: 120px;
  height: 66px;
  margin: 0 auto;
  border-radius: 65px;

  box-shadow: 0px 20px 50px rgba(198, 217, 225, 0.3);

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.team-nav .button:last-child{
  background: var(--main-color);
}

.team-nav .button{
  width: 50px;
  height: 50px;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.message{
  max-width: 1440px;
  padding: 14em 12em;
  margin: 0 auto;

  background-image: url('/images/bg-message.png');
  background-repeat: no-repeat;
  background-size: auto;
}

.message-container h1{
  max-width: 1200px;
  font-size: 54px;
  font-weight: 500;
  text-align: center;
  
  color: #FAFAFA;
}

.message-container p{
  margin-top: 60px;
  font-size: 18px;
  position: relative;

  color: #FAFAFA;
}

.message-container p:nth-child(2):before{
  width: 90px;
  height: 64px;
  content: "";

  position: absolute;
  top: -65px;
  left: -85px;

  background-image: url("/images/icons/quotes.png");
}

.message-container p:nth-child(3)::after{
  width: 90px;
  height: 64px;
  transform: rotate(180deg);
  content: ""; 

  position: absolute;
  right: -65px;
  bottom: -85px;

  background-image: url("/images/icons/quotes.png");
}

.contact{
  padding: 140px 0px 70px 0px;
}

.contact-container{
  max-width: 1200px;
  margin: 0 auto;
}


.contact-info{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact-form form{
  display: inline-block;
}

.contact-form form input, textarea, .footer-info input{
  width: 480px;
  height: 60px;
  padding-left: 20px;
  margin-bottom: 20px;
  border: none;
  border-radius: 7px;
  font-family: inherit;
  font-size: 18px;

  background: #F9F9F9;

  display: block;
}

.contact-form form textarea{
  padding: 20px;
  height: 200px;
  resize: none;
}

.contact-form form input::placeholder{
  color: #6B6B6B;
}

.contact-info img{
  width: 60%;
}

.latest-blogs{
  padding: 70px 0px;
}

.blogs-container{
  width: 1200px;
  padding: 0px 15px;
  margin: 0 auto;
}

.blog-cards{
  display: flex;
  justify-content: center;
}

.blog-card{
  width: 496px;
  height: 496px;
  padding: 60px;

  position: relative;
}

.blog-card.bc-1{
  margin-right: 60px;

  background-image: url("/images/blog-cover01.png");
  background-repeat: no-repeat;
}

.blog-card.bc-2{
  background-image: url("/images/blog-cover02.png");
  background-repeat: no-repeat;
}

.blog-heading{
  position: absolute;
  bottom: 60px;
}

.blog-heading h3{
  margin-bottom: 20px;
  font-size: 27px;
  font-weight: 700;
  text-align: center;

  color: #FFF;
}

.blog-heading p{
  font-size: 16px;
  text-align: center;

  color: #FFF;
}

.blog-heading .cta-button{
  margin: 20px auto 0px;
  font-weight: 400;
  border: 1px solid #FFF;

  color: #FFF;
  background: none;
  box-shadow: none;

  display: flex;
  justify-content: center;
  align-items: center;
}

.newsletter-container{
  max-width: 1200px;
  padding: 70px 0px;
  margin: 0 auto;
}

.newsletter-container .heading h1{
  font-weight: 500;
  line-height: 1.2;
}

.newsletter .cta-button{
  margin: 0 auto;
  padding: 0 40px;
  position: relative;

  display: flex;
  align-items: center;
}

.newsletter .cta-button::after{
  content: "";
  width: 20px;
  height: 10px;
  position: absolute;
  right: 40px;
  top: 28px;

  background-image: url("/images/icons/right-arrow.png");
  background-repeat: no-repeat;
}

.footer-container{
  max-width: 1200px;
  padding: 70px 15px;
  margin: 0 auto;
}

.footer-info{
  display: flex;
  justify-content: space-between;
}

.footer-info .logo, .footer-info h4{
  margin-bottom: 40px;
}

.footer-info h4{
  font-size: 18px;
  font-weight: 600;

  color: var(--primary-text);
}

.footer-info p{
  margin-bottom: 40px;
  color: var(--secondary-text);
}

.social-icons{
  margin-right: 16px;
}

.footer-info ul li{
  margin-bottom: 20px;
  list-style: none;
}

.footer-info ul li a{
  text-decoration: none;
  color: var(--secondary-text);
}

.footer-info input{
  width: 174px;
  height: 40px;
  font-size: 10px;

  color: var(--primary-text);
}

.footer-info .form-control{
  position: relative;
}

.form-control img{
  position: absolute;
  right: 20px;
  top: 12px;
}

.footer hr{
  width: 1200px;
  margin: 0 auto;
  border: 1px solid #F4F4F4;
}

.copy{
  padding: 40px 0;
}

.copy p{
  font-size: 14px;
  text-align: center;

  color: #C2C2C2;
}